.ContestPreview {
  margin: 1em;
  border: 1px solid #cccccc; }
  .ContestPreview .categoryName {
    border-bottom: 1px solid #cccccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eeeeee; }
  .ContestPreview .contestName {
    padding: 0.5em; }
